TODO.md
.vscode/
server/
linesc.py
services/crypto/client.py
services/crypto/server_test.py
services/crypto/Tasks.md
services/crypto/__pycache__/
client/desktop/__pycache__/crypto.cpython-312.pyc
venv/pyvenv.cfg
venv/bin/python
venv/bin/python3
venv/bin/python3.12
